body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.container {
    margin: 0 auto;
    width: 1440px;
    border: 1px solid red;
}

.travel-header {
    border: 1px solid red;
}

.travel-header_block__text{
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
